@font-face {
  font-family: PierBold;
  src: url("./fonts/pierBold.otf");
}
@font-face {
  font-family: PierNorm;
  src: url("./fonts/pierNorm.otf");
}
@font-face {
  font-family: Azonix;
  src: url("./fonts/Azonix.otf");
}
@font-face {
  font-family: NoirMed;
  src: url("./fonts/noirmed.otf");
}
@font-face {
  font-family: Noir;
  src: url("./fonts/noir.otf");
}

/* ############################### */


body{
  background-image: url("./temps/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
}
#sezione_alta{
  padding: 1%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.contenitore_icone{
  width: 4.5vw;
  border-radius: 10%;
}
.contenitore_icone:hover{
  background-color: rgba(45, 35, 34, 0.5);
  transition: 0.1s;
}
.contenitore_icone:active{
  background-color: rgba(255, 153, 0, 0.5);
}
#icons img{
  margin: 3%;
  padding: 3%;
  display:table-column;
  width: 4vw;
}
#paragrafo_centrale{
  padding: 3%;
  text-align: center;
  color: #ababab;
  font-family: NoirMed;
}
#paragrafo_centrale p{
  font-size: 2vh;
}
#paragrafo_nome{
  padding: 3%;
  text-align: right;
  color: #ababab;
  font-family: NoirMed;
}
#sezione_centrale{
  margin-top: 10vh;
  padding: 1%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.immagine_laptop{
  text-align: center;
}
#laptop{
  width: 50vw;
}
.bottone{
  padding: 2%;
  border-radius: 10%;
  background-color: rgba(217, 217, 217, 0.3);
  border: none;
  outline: none;
}
.bottone:hover{
  background-color: rgba(217, 217, 217, 0.5);
  transition: 0.1s;
}
.bottone:active{
  background-color: rgba(255, 153, 0, 0.6);
  transition: 0.1s;
}
.container_bottone{
  text-align: center;
}
.immagine_bottone{
  width: 2vw;
}
