@font-face {
  font-family: PierBold;
  src: url("./fonts/pierBold.otf");
}
@font-face {
  font-family: PierNorm;
  src: url("./fonts/pierNorm.otf");
}
@font-face {
  font-family: Azonix;
  src: url("./fonts/Azonix.otf");
}
@font-face {
  font-family: NoirMed;
  src: url("./fonts/noirmed.otf");
}
@font-face {
  font-family: Noir;
  src: url("./fonts/noir.otf");
}

/* ############### GENERAL ################ */
body{
  background-color: grey;
  padding: 0;
  margin: 0;
}
/* ############### INDEX_PRIMARIO ################ */
#settore_alto{
  background-color: blue;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
}
#contenitore_titolo{
  text-align: center;
}
#contenitore_titolo h1{
  margin: auto;
}
#contenitore_titolo p{
  margin: 0;
}

#contenitore_contatti{
  text-align: center;
  align-items: center;
  display: grid;
}
.contenitore_btn{
  display: flex;
  margin: auto;
}
.btn{
  margin: 2vw;
  background: none;
  border: none;
  border-radius: 100%;
  align-items: center;
}
.img_alto{
  display: flex;
  width: 5vw;
}
#contenitore_utente{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.utente{
  display: inline-flex;
}
.cc{
  margin: auto;
}
