@font-face {
  font-family: PierBold;
  src: url("./fonts/pierBold.otf");
}
@font-face {
  font-family: PierNorm;
  src: url("./fonts/pierNorm.otf");
}
@font-face {
  font-family: Azonix;
  src: url("./fonts/Azonix.otf");
}
@font-face {
  font-family: NoirMed;
  src: url("./fonts/noirmed.otf");
}
@font-face {
  font-family: Noir;
  src: url("./fonts/noir.otf");
}

/* ############################### */
/* body{
  background-image: url("./img/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */
